*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}

body{
   margin:0;
   padding:0;
   #background:#000;
   font-family: Verdana, Geneva, sans-serif;
   color:#fff;

}

img{
  max-width: 100%;
}

.container{
  display:flex;
  flex-direction: column;
  width:100%;
  background-color:#000;



}

.content{
  margin:0;
  padding:0;


}

#img-test{
  background-image:url(../img/garden.jpg);
  height:calc(100vh - 154px);
  width:100%;
  background-size:cover;
  background-position: center;
  position:relative;


}
/*********************************
header
**********************************/
#header{
   display:flex;
   align-items:center;
   justify-content:center;
   color:#DCD268;
   flex-direction: column;
   /*position:absolute;*/
   /*top:0;*/
   background-color:#000;
}

#header-item{
  background-color:#000;
}
#header-item img {
  width:100%;
}

#header-item ul{
   padding:0;
   margin:0;

}

#header-item li{
  list-style: none;
  border-right:1px solid #DCD268;
  float:left;
  padding:0 10px;
}


/*******************************
home page
********************************/



#mobile-caption{
  position: absolute;
  bottom:0;
  background-color:rgba(255, 255, 255, 0.7);
  width:100%;
  text-align: center;
  color:#222;
}
#home-text{
  width:93%;
  margin:0 auto;
}

#home-gallery{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-gallery{
  width:95%;
  margin:0 auto;
  margin-bottom:3px;
}

#home-text{
  background-color: #000;
  width:100%;
  text-align: center;
  font-size:0.9em;

}

#contact{
  width:100%;
  text-align: center;

}


.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;

}

.contact-info a {

	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}



.contact-info li.phone a {
   background-image: url('../img/phone.png');
}

.contact-info li.mail a {
   background-image: url('../img/mail.png');
}
