*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}

body{
   margin:0;
   padding:0;
   background:#000;
   font-family: Verdana, Geneva, sans-serif;
}

img{
  max-width: 100%;
}

#header{
   display:flex;
   align-items:center;
   justify-content:center;
   margin-top:10px;
   color:#DCD268;
   flex-direction: column;
}


#header-item img {
  width:100%;
}

#header-item ul{
   padding:0;
   margin:0;

}

#header-item li{
  list-style: none;
  border-right:1px solid #DCD268;
  float:left;
  padding:0 10px;
}
