*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}

body{

   background-color:#000;
   font-family: Verdana, Geneva, sans-serif;
   color:#fff;
   margin-bottom:400px;
}

img{
  max-width: 100%;
}

h4{
  font: bold 24px/24px "futura-pt", sans-serif;
}

/****************************
CUSTOM BOOSTRAP
****************************/



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


#demo{
    width:100%;
    height:calc(100vh - 200px);
    position: relative;
}





.jobs-background{

  /*background-image:url(../img/garden.jpg);
  height:100%;
  width:100%;
  background-size:cover;
  background-position: center;*/

  background: linear-gradient(#000,transparent 30%),
      linear-gradient(0deg, #202020,transparent),
      #202020 url('../img/garden.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height:100%;
  position:relative;
  padding-left:0;
  /*text-align: center;*/


}

.jobs-background h2{
  color:#709635;
  font-weight:bold;
  text-transform: uppercase;
}

.jobs-background p{
  with:80%;
  margin: 0 auto 20px;
  font-size:18px;
  line-height: 22px;
}
/*********************************
header
**********************************/
#header{
   display:flex;
   align-items:center;
   justify-content:center;
   color:#DCD268;
   flex-direction: column;
   /*position:absolute;*/
   /*top:0;*/
   background-color:#000;
   padding-bottom:15px;


}

#header-item{
  background-color:#000;
}
#header-item img {
  width:100%;
}

#header-item ul{
   padding:0;
   margin:0;


}

#header-item li{
  list-style: none;
  border-right:1px solid #DCD268;
  float:left;
  padding:0 10px;
}

#header-item li a{
  color:#DCD268;

}


/*******************************
home page
********************************/



.caption{
  position: absolute;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.8);
  width:100%;
  text-align: center;
  padding:0 10px;
}


/*******************************
FOOTER
*******************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background: linear-gradient(#000,transparent 70%),
      linear-gradient(0deg, #202020,transparent),
      #000 url('../img/map.png') no-repeat center;
  background-size: cover;
  width: 100%;
  height:400px;
  line-height: 60px; /* Vertically center the text there */
  color:#FFEA3D;
  font-size:1em;
}

.footer p{
  line-height:0.8;

}

.foot-cont{
  margin-top:40px;
}
