*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}

body{
   margin:0;
   padding:0;
   background:#000;
   font-family: Verdana, Geneva, sans-serif;
   color:#fff;
}

img{
  max-width: 100%;
}

.container{
  position:relative;
}

/*********************************
header
**********************************/
#header{
   display:flex;
   align-items:center;
   justify-content:center;
   color:#DCD268;
   flex-direction: column;
   position:absolute;
   top:0;
   background-color:#000;
}

#header-item{
  background-color:#000;
}
#header-item img {
  width:100%;
}

#header-item ul{
   padding:0;
   margin:0;

}

#header-item li{
  list-style: none;
  border-right:1px solid #DCD268;
  float:left;
  padding:0 10px;
}


/*******************************
home page
********************************/

#mobile-img{
  background-image:url(../img/garden.jpg);
  height:100%;
  width:100%;
  min-height:100%;
  min-width:100%;
  background-size:cover;
  background-position: center;
  display:block;
  position: absolute;

}

#mobile-caption{
  position: absolute;
  bottom:0;
  background-color:rgba(255, 255, 255, 0.7);
  width:100%;
  text-align: center;
  color:#222;
}
#home-text{
  width:93%;
  margin:0 auto;
}

#home-gallery{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-gallery{
  width:95%;
  margin:0 auto;
  margin-bottom:3px;
}
