
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}

body{

   background-color:#000;
   font-family: Verdana, Geneva, sans-serif;
   color:#fff;
   margin-bottom:400px;
}

img{
  max-width: 100%;
}

h4{
  font: bold 24px/24px "futura-pt", sans-serif;
}

/****************************
CUSTOM BOOSTRAP
****************************/

#test{
  margin-top:10px;
  background-color: #141414;
  width:100%;

  text-align:center;
  padding: 10px 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


#demo{
    width:100%;
    /*height:calc(100vh - 200px);*/
    /*position: relative;*/
    height:calc(100vh - 15px);

}


a{
  text-decoration: none;
  color:#DCD268;

}

a:hover{
  text-decoration: none;
  color:#fff;
}




.jobs-background{

  width: 100%;
  height:250px;
  margin-bottom:10px;
  color:#DCD268;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  background-repeat: no-repeat;
  padding-left:0;

}

.layer{
  position: relative;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.jobs-background h1{
  position: absolute;
  color:#fff;
  font-weight:bold;
  text-transform: uppercase;
  margin-left:12px;

}

.update-form{
  background-color: #B2B2B2;
  padding-top:10px;
}


/*********************************
header
**********************************/
#header{
   display:flex;
   align-items:center;
   justify-content:center;
   color:#DCD268;
   flex-direction: column;
   right:0;
   /*margin-right:7px;*/
   background-color:#000;
   /*padding-bottom:15px;*/
   width:100%;
   position: fixed;
   z-index: 9994;
   transform: translateZ(0);
    -webkit-transform: translateZ(0);


}

.t{
  margin-top:269px;
}

.header-item{
  background-color:#000;
}
.header-item img {
  width:100%;
}

.header-item ul{
   padding:0;
   margin:0;


}

.header-item li{
  list-style: none;
  border-right:1px solid #DCD268;
  float:left;
  padding:0 10px;
  line-height: 1em;
}

.active{
  color: #0056B3;
}




/*******************************
home page
********************************/



.caption{
  position: absolute;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.8);
  width:100%;
  text-align: center;
  padding:10px 10px;
}


/*******************************
FOOTER
*******************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background: linear-gradient(#000,transparent 70%),
      linear-gradient(0deg, #202020,transparent),
      #000 url('../img/map.png') no-repeat center;
  background-size: cover;
  width: 100%;
  height:400px;
  line-height: 60px; /* Vertically center the text there */
  color:#FFEA3D;
  font-size:0.7em;
}

.footer h5{
  font-size:1rem;
}

.footer p{
  line-height:0.8;

}

.foot-cont{
  margin-top:40px;
}
