@media screen and (min-width:375px){

  .footer{
    font-size: 0.8em;
  }
  .footer h5{
    font-size:1.25rem;
  }

  #background-slideshow{
      height:calc(100vh - 262px);

  }

  .spacer{
    height:262px;
  }

}

@media screen and (min-width:414px){

  .footer{
    font-size: 0.9em;
  }

  .footer h5{
    font-size:1.4rem;
  }
}



@media screen and (min-width:768px){

  .caption * {
    width:50%;
    margin:0 auto;
  }

  .footer{
    font-size: 1.1em;
  }
  .footer h5{
    font-size:1.6rem;
  }

  .header-item{
    font-size:1.2em;
  }

  #background-slideshow{
      height:calc(100vh - 265px);

  }

  .spacer{
    height:265px;
  }

}

@media screen and (min-width:992px){

  .jobs-background{
    height: 400px;
  }

  #background-slideshow{
      height:calc(100vh - 279px);

  }

  .spacer{
    height:279px;
  }

  #call-now-banner{
    padding-top:10px;
    line-height: 1rem;
    font-size:1em;
  }
}
