@media screen and (min-width:375px){

  .footer{
    font-size: 0.9em;
  }
  .footer h5{
    font-size:1.25rem;
  }
}

@media screen and (min-width:414px){

  .footer{
    font-size: 1em;
  }
  .footer h5{
    font-size:1.4rem;
  }
}



@media screen and (min-width:768px){

  .caption * {
    width:50%;
    margin:0 auto;
  }

  .footer{
    font-size: 1.1em;
  }
  .footer h5{
    font-size:1.6rem;
  }

  #header-item{
    font-size:1.2em;
  }
}
