{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 ml-auto mr-auto t">

      <h4>Add to home page images</h4>
      <form method="post" action={{ url_for('admin_home_img')}} enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="file" class="form-control"/>
        </div>
        <div class="form-group">
          <textarea name="caption" id="caption" class="text_area" rows="10" cols="80"></textarea>

        </div>
        <button type="submit" name="add" class="btn btn-default">Upload Image/Caption</button>
      </form>
    </div>
  </div>


</div>



{% endblock %}
