{% extends 'layout.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-sm-12 t">
      {% with messages = get_flashed_messages(with_categories=True) %}
           {% if messages %}
             {% for category, message in messages %}
                 <ul class="flashes alert alert-{{ category }}">
                   <li style="list-style:none;">{{ message }}</li>
                </ul>
            {% endfor %}
           {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 ml-auto mr-auto">

      <h4>Update gallery</h4>
      <form method="post" action={{ url_for('admin_project_gallery_update')}} enctype="multipart/form-data">

        <div class="form-group">
          <label class="radio-inline"><input type="radio" name="optradio" value="electricians">Electricians</label>
          <label class="radio-inline"><input type="radio" name="optradio" value="developments">Developments</label>
          <label class="radio-inline"><input type="radio" name="optradio" value="facilities">Facilities</label>
        </div>

        <button type="submit" name="add" class="btn btn-success">Select type</button>
      </form>
    </div>
  </div>


</div>



{% endblock %}
