{% extends 'layout.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-sm-12 t">
      {% with messages = get_flashed_messages(with_categories=True) %}
           {% if messages %}
             {% for category, message in messages %}
                 <ul class="flashes alert alert-{{ category }}">
                   <li style="list-style:none;">{{ message }}</li>
                </ul>
            {% endfor %}
           {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12 ml-auto mr-auto">

      <h4>Update gallery</h4>

      {% for x in data %}

      <form method="post" action={{ url_for('admin_project_gallery_update_post')}} enctype="multipart/form-data">

        <div class="row update-form">
          <div class="col-sm-12 ml-auto mr-auto">

            <div class="form-group">
              <label class="form-control">Img Name: {{ x.img_name }}</label>
            </div>

            <div class="form-group">
              <img class="form-control img-responsive" src="/static/img/{{ x.img_name }}" alt="{{ x.img_name }}" />
            </div>


            <div class="form-group">
              <textarea name="caption" class="text_area" rows="10" cols="80">{{ x.img_caption }}</textarea>
            </div>

            <div class="form-group">
              <input type="file" name="file" class="form-control"/>
            </div>

            <input type="hidden" name="id" value="{{ x.id }}" />
            <input type="hidden" name="project" values="{{ project }}" />

            <div class="form-group">
              <button type="submit" name="add" class="btn btn-success">Select type</button>
            </div>

          </div>
        </div>

      </form>

      <div class="row">
        <div class="col-sm-12 ml-auto mr-auto">
          <hr />
        </div>
      </div>

      {% endfor %}

    </div>

  </div>


</div>



{% endblock %}
