<footer class="footer">
  <div class="container foot-cont">
    <div class="row">
      <div class="col-6">
        <h5>Russell Hewes</h5>
        <p>9 Stroud Road</p>
        <p>Wimbledon Park</p>
        <p>London</p>
        <p>SW19 8DQ</p>
      </div>
      <div class="col-6">
        <p><a href="tel:02087155146"><strong>T:</strong> +44 (0)20 8715 5146</a></p>
        <p><a href="tel:07375373077"><strong>M:</strong>+44 (0)737 537 3077</a></p>
        <p class="mail"><a href="info@russellhewes.co.uk">info@russellhewes.co.uk</a></p>
        <p class="web"><a href="www.russellhewes.co.uk">www.russellhewes.co.uk</a></p>

      </div>

    </div>

    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>

    <div class="row">

      <div class="col-6">
        <p>Company No:</p>
        <p>10422022</p>

      </div>
      <div class="col-6">
        <p>VAT NO:</p>
        <p>263240037</p>
      </div>


    </div>




  </div>
</footer>
