
<!doctype html>
<html>
<head>
    <title>Russell Hewes</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <style type="text/css">
	body{
	   margin:0;
	   padding:0;
	   background:#000;
	}
	#header{
	   display:flex;
	   align-items:center;
	   justify-content:center;

 	}
	#contact{
	   color:#FFF100;
	   text-align:center;
	}

    </style>
</head>

<body>

<div id="header">
  <div id="header-item">
  	<img src="img/russell.jpg" alt="temp-logo" />
  </div>
</div>
<div id="contact">
<p>Website currently under construction, for enquires please contact on the number or email below</p>
<p>enquiries@russellhewes.co.uk</p>
<p>0208 715 5146</p>
<p>0798 532 7710</p>
</div>

</body>
</html>
