<div id="header">
  <div class="header-item" >
    <a href={{ url_for('main') }}>
  	 <img src="{{ url_for('static',filename='img/RH_Logo_BlackYellow_RGB.jpg')}}" alt="temp-logo" />
    </a>
  </div>
  <div class="header-item">
    <ul id="nav-control">
      <li><a href={{ url_for('job',type='electricians') }} class="{% if active_page == 'electricians' %}active{% endif %}">Electricians</a></li>
      <li><a href={{ url_for('job',type='developments') }} class="{% if active_page == 'developments' %}active{% endif %}">Developments</a></li>
      <li style="border-right:none;"><a href={{ url_for('job',type='facilities') }} class="{% if active_page == 'facilities' %}active{% endif %}">Facilities</a></li>
    </ul>
  </div>
  <div class="header-item" id="call-now-banner">
    <p>Call now for an instant quote:</p>
    <p><a href="tel:02087155146"><strong>T:</strong> +44 (0)20 8715 5146</a></p>
    <p><a href="tel:07375373077"><strong>M:</strong>+44 (0)737 537 3077</a></p>
  </div>
  </div>
</div>
